In [13]:
#Consider the above text as a string, figure out the average length of the string.

str="I am very keen in building up my career in Data Science, but not sure from where to start. If I search the web it throws me thousands of articles, few are relevant others make me confused, again I come around to the same page. Supervised has provided me a good platform to remove all such qualms which were wrangling in my mind"
str_lst=str.split()
total_len=len(str_lst)
sum_len=0
pre_len=0
for i in str_lst:
    sum_len+=1
    pre_len+=sum_len
avg_len=(pre_len/total_len)
print(avg_len)

32.0

In [1]:
a=3
a

3

In [15]:
#Lower the text in the string.
str_lwr=str.lower()
str_lwr

'i am very keen in building up my career in data science, but not sure from where to start. if i search the web it throws me thousands of articles, few are relevant others make me confused, again i come around to the same page. supervised has provided me a good platform to remove all such qualms which were wrangling in my mind'

In [21]:
#Try to get the clean text removing the punctuation from the string.
for i in str:
    if i.isalnum():
        print(i, end='')

IamverykeeninbuildingupmycareerinDataSciencebutnotsurefromwheretostartIfIsearchthewebitthrowsmethousandsofarticlesfewarerelevantothersmakemeconfusedagainIcomearoundtothesamepageSupervisedhasprovidedmeagoodplatformtoremoveallsuchqualmswhichwerewranglinginmymind

In [23]:
#Extract word "Data Science" from the string.
str_find=str.find('Data Science')
str_find

43

In [56]:
#Find the frequency of words used in the string.
str="I am very keen in building up my career in Data Science, but not sure from where to start. If I search the web it throws me thousands of articles, few are relevant others make me confused, again I come around to the same page. Supervised has provided me a good platform to remove all such qualms which were wrangling in my mind"
str_lst=str.split(' ')
count=0
new_str_lst=[]
for i in str_lst:
    if i not in new_str_lst:
        new_str_lst.append(i)
for i in range(len(new_str_lst)):
    unique=str_lst.count(new_str_lst[i])
    print(new_str_lst[i],unique)

I 3
am 1
very 1
keen 1
in 3
building 1
up 1
my 2
career 1
Data 1
Science, 1
but 1
not 1
sure 1
from 1
where 1
to 3
start. 1
If 1
search 1
the 2
web 1
it 1
throws 1
me 3
thousands 1
of 1
articles, 1
few 1
are 1
relevant 1
others 1
make 1
confused, 1
again 1
come 1
around 1
same 1
page. 1
Supervised 1
has 1
provided 1
a 1
good 1
platform 1
remove 1
all 1
such 1
qualms 1
which 1
were 1
wrangling 1
mind 1

In [163]:
#Fetch the duplicate pairs used in the string
str="I am very keen in building up my career in Data Science, but not sure from where to start. If I search the web it throws me thousands of articles, few are relevant others make me confused, again I come around to the same page. Supervised has provided me a good platform to remove all such qualms which were wrangling in my mind"
str_lst=str.split(' ')
a=len(str_lst)  
pre_value=0
while pre_value < (a-1):
    if str_lst[pre_value]==str_lst[pre_value+1]:
        del str_lst[pre_value:pre_value + 2]
        pre_value = 0
        a-=2
    else:
        pre_value+=1
print(str_lst, end=' ')

['I', 'am', 'very', 'keen', 'in', 'building', 'up', 'my', 'career', 'in', 'Data', 'Science,', 'but', 'not', 'sure', 'from', 'where', 'to', 'start.', 'If', 'I', 'search', 'the', 'web', 'it', 'throws', 'me', 'thousands', 'of', 'articles,', 'few', 'are', 'relevant', 'others', 'make', 'me', 'confused,', 'again', 'I', 'come', 'around', 'to', 'the', 'same', 'page.', 'Supervised', 'has', 'provided', 'me', 'a', 'good', 'platform', 'to', 'remove', 'all', 'such', 'qualms', 'which', 'were', 'wrangling', 'in', 'my', 'mind']

In [89]:
#Can you change the word "Supervised" to "Unsupervised" in the string
str="I am very keen in building up my career in Data Science, but not sure from where to start. If I search the web it throws me thousands of articles, few are relevant others make me confused, again I come around to the same page. Supervised has provided me a good platform to remove all such qualms which were wrangling in my mind"
str_replace=str.replace('Supervised', 'Unsupervised')
str_replace

'I am very keen in building up my career in Data Science, but not sure from where to start. If I search the web it throws me thousands of articles, few are relevant others make me confused, again I come around to the same page. Unsupervised has provided me a good platform to remove all such qualms which were wrangling in my mind'

In [91]:
#Splitting of the string with a dot operator(.)
str_split=str.split('.')
str_split

['I am very keen in building up my career in Data Science, but not sure from where to start',
 ' If I search the web it throws me thousands of articles, few are relevant others make me confused, again I come around to the same page',
 ' Supervised has provided me a good platform to remove all such qualms which were wrangling in my mind']

In [94]:
#Find the words from the string which ends with "e".
str_lst=str.split(' ')
new_str=[]
for i in str_lst:
    if i[-1]=='e':
        new_str.append(i)
print(new_str, end=' ')

['sure', 'where', 'the', 'me', 'are', 'make', 'me', 'come', 'the', 'same', 'me', 'remove', 'were']

In [97]:
#Figure out number of a's used in the string.
str_lst=str.split(' ')
count=0
for i in str_lst:
    for j in range(len(i)):
        if i[j]=='a':
            count+=1
print("a's count :", count)

a's count : 22

In [98]:
#In the weekend , I purchased 250g of apple, 500g of sugar, 2.5 kg of rice, 2.5 litres of milk and finally 1 dozen of egg.
#Can you help me frame the above purchase in the form of dictionary with commodities as keys to it.
com_dic={'apple':250, 'sugar':500, 'rice':2.5, 'milk':2.5, 'egg':1}
com_dic

{'apple': 250, 'sugar': 500, 'rice': 2.5, 'milk': 2.5, 'egg': 1}

In [101]:
#I forgot to mention another item, 1kg of atta packet. Can you also add it ?
com_dic.update({'atta':1})
com_dic

{'apple': 250, 'sugar': 500, 'rice': 2.5, 'milk': 2.5, 'egg': 1, 'atta': 1}

In [106]:
#Instead of 2kg of rice, I bought only 1kg of rice. Can you change the corresponding value ?
com_dic['rice']=1
com_dic

{'apple': 250, 'sugar': 500, 'rice': 1, 'milk': 2.5, 'egg': 1, 'atta': 1}

In [108]:
#Can you list out all these items using a loop.
#com_dic={'apple': 250, 'sugar': 500, 'rice': 2.5, 'milk': 2.5, 'egg': 1, 'atta': 1}
for i in com_dic.keys():
    print(i)

apple
sugar
rice
milk
egg
atta

In [109]:
#However, the cost of 1 kg apple is Rs.220, 1 kg of sugar is Rs.43, 1 Kg of rice is Rs. 45, 1 litre of milk is Rs.30 and 1 dozen of egg is Rs. 60.
#Create another dictionary for pricing.
price_dic={'apple':220, 'sugar':43, 'rice':45, 'milk':30, 'eggs':60}
price_dic

{'apple': 220, 'sugar': 43, 'rice': 45, 'milk': 30, 'eggs': 60}

In [171]:
#Thereby, prepare a bill for me of the overall cost of the total commodities purchased by using two dictionaries !
com_dic={'apple': 0.25, 'sugar': 0.5, 'rice': 2.5, 'milk': 2.5, 'egg': 1}
price_dic={'apple':220, 'sugar':43, 'rice':45, 'milk':30, 'eggs':60}
temp=[]
sum_total=0
com_dic_values=list(com_dic.values())
price_dic_values=list(price_dic.values())
for j in range(len(com_dic_values)):
        total=com_dic_values[j]*price_dic_values[j]
        temp.append(total)
for i in temp:
    sum_total+=i
print('Total commodity value :', sum_total)
55 21.5 112.5 75 60

Total commodity value : 324.0

In [166]:
AI_companies=['Amazon', 'Facebook', 'HiSilicon', 'Google', 'Apple', 'Microsoft', 'SenseTime']

In [116]:
#Sort the list in ascending order
AI_companies=['Amazon', 'Facebook', 'HiSilicon', 'Google', 'Apple', 'Microsoft', 'SenseTime']
AI_companies.sort()
AI_companies

['Amazon',
 'Apple',
 'Facebook',
 'Google',
 'HiSilicon',
 'Microsoft',
 'SenseTime']

In [127]:
#Add multiple companies at once 'Nvidia', 'OpenAI' , 'Qualcomm' and 'Reliance' to the list
AI_companies=['Amazon', 'Facebook', 'HiSilicon', 'Google', 'Apple', 'Microsoft', 'SenseTime']
AI_companies.extend(['Nvidia', 'OpenAI', 'Qualcomm', 'Reliance'])
AI_companies

['Amazon',
 'Facebook',
 'HiSilicon',
 'Google',
 'Apple',
 'Microsoft',
 'SenseTime',
 'Nvidia',
 'OpenAI',
 'Qualcomm',
 'Reliance']

In [172]:
#Lower the list using List comprehension
AI_companies=['Amazon', 'Facebook', 'HiSilicon', 'Google', 'Apple', 'Microsoft', 'SenseTime']
[name.lower() for name in AI_companies]

['amazon',
 'facebook',
 'hisilicon',
 'google',
 'apple',
 'microsoft',
 'sensetime']

In [128]:
#Elimiate 'Reliance' from the list
AI_companies.pop()
AI_companies

['Amazon',
 'Facebook',
 'HiSilicon',
 'Google',
 'Apple',
 'Microsoft',
 'SenseTime',
 'Nvidia',
 'OpenAI',
 'Qualcomm']

In [130]:
#Extract 'Facebook', 'Google' and 'Microsoft' using a single command
AI_companies[1:6:2]

['Facebook', 'Google', 'Microsoft']

In [132]:
#Consider the above standard price problem statement and place the prices in the form of the tuple.
price_tuple=(220, 43, 45, 30, 60)
price_tuple

(220, 43, 45, 30, 60)

In [140]:
#Find out the min and max price among them.
price_tuple_lst=list(price_tuple)
price_tuple_lst.sort()
min=price_tuple_lst[0]
max=price_tuple_lst[-1]
print('Min and Max prices are :', min, max)

Min and Max prices are : 30 220

In [142]:
#Also, convert the above "AI_companies" list to a tuple.
AI_companies=['Amazon', 'Facebook', 'HiSilicon', 'Google', 'Apple', 'Microsoft', 'SenseTime']
AI_companies_tuple=tuple(AI_companies)
AI_companies_tuple

('Amazon',
 'Facebook',
 'HiSilicon',
 'Google',
 'Apple',
 'Microsoft',
 'SenseTime')

In [143]:
#Combine two above tuples to a single tuple.
combine_tuple=price_tuple + AI_companies_tuple
combine_tuple

(220,
 43,
 45,
 30,
 60,
 'Amazon',
 'Facebook',
 'HiSilicon',
 'Google',
 'Apple',
 'Microsoft',
 'SenseTime')

In [144]:
#Compare the length of two tuples.
len_price_tuple=len(price_tuple)
len_AI_companies_tuple=len(AI_companies_tuple)
if len_price_tuple > len_AI_companies_tuple:
    print('length of price tuple is greater.')
elif len_price_tuple < len_AI_companies_tuple:
    print('length of AI Companies tuple is greater')
else:
    print('length of both price and AI companies tuples are equal.')

length of AI Companies tuple is greater